In [39]:
import pandas as pd
import numpy as np

In [40]:
file_path = './data.csv'

df = pd.read_csv(file_path)
df = df.drop('y_pred_random_forest', axis=1)
df.rename(columns={'y_pred_logistic': 'y_pred'}, inplace=True)
df.head()

   y_act    y_pred
0      1  0.531904
1      0  0.414496
2      1  0.569883
3      1  0.443674
4      0  0.369532

In [41]:
df['y_pred'] = (df.y_pred >= 0.5).astype('int')
df.head()

   y_act  y_pred
0      1       1
1      0       0
2      1       1
3      1       0
4      0       0

In [42]:
df.shape

(15758, 2)

<h1>
True positive: actual = 1, predicted = 1 <br>
False positive: actual = 1, predicted = 0 <br>
False negative: actual = 0, predicted = 1 <br>
True negative: actual = 0, predicted = 0 <br>
</h1>

In [67]:
# Accuracy metric
def compute_tp_tn_fn_fp(y_act, y_pred):
	tp = sum((y_act == 1) & (y_pred == 1))
	tn = sum((y_act == 0) & (y_pred == 0))
	fn = sum((y_act == 1) & (y_pred == 0))
	fp = sum((y_act == 0) & (y_pred == 1))
	return tp, tn, fp, fn

In [68]:
tp, tn, fp, fn = compute_tp_tn_fn_fp(df.y_act, df.y_pred)
print('TP:', tp)
print('TN:', tn)
print('FP:', fp)
print('FN:', fn)

TP: 4279
TN: 5425
FP: 2454
FN: 3600

<h1>
Accuracy = TP + TN / FP + FN + TP + TN <br>
Precision = TP  / FP + TP  <br>
Recall = TP /FN + TP <br>
F1-sore = 2*TP / 2*TP + FP + FN <br>
</h1>

In [69]:
def compute_accuracy(tp, tn, fn, fp):
	return (tp + tn) / (tp + tn + fn + fp)

def compute_precision(tp, fp):
	return tp / (tp + fp)

def compute_recall(tp, fn):
	return tp / (tp + fn)

def compute_f1_score(tp, fn, fp):
    return (2*tp) / (2*tp + fp + fn)

In [75]:
print('accuracy:', compute_accuracy(tp, tn, fn, fp))
print('precision:', compute_precision(tp, fp))
print('recall:', compute_recall(tp, fn))
print('F1:', compute_f1_score(tp, fp, fn))

accuracy: 0.6158141896179719
precision: 63.55265112134264
recall: 0.5430892245208783
F1: 0.5856830002737476